* {
    background: rgb(194, 73, 52);
}

.container {
    background: white;
    width: 820px;
    height: 900px;
    border-radius: 1em;
    box-shadow: 4px 4px 10px 0px rgba(0,0,2,.3);
    margin: 0 auto;
    padding: 32px 16px;
    margin-top: 35px;
}

.container .proj {
    display: grid;
    width: 800px;
    height:890px;
    grid-template-columns: 400px 400px;
    justify-content: space-between;
    background: yellow; 
}

.proj :first-child {
    margin: auto;
    width: 75%; 
    height: 75%;
    background: black;
}

